<td-layout-nav logo="assets:gym">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Academia Fitness</span>
    <span flex></span>
  </div>
  <td-layout-card-over cardTitle="Usuário" cardSubtitle="Preencha o formulário para {{action}} o usuário">
    <ng-template tdLoading="user.form">
      <md-card-content class="push-bottom-none">
        <form #userForm="ngForm">
            <div layout="row">
              <md-input-container flex>
                <input mdInput
                        #emailElement
                        #emailControl="ngModel"
                        type="text"
                        placeholder="E-mail"
                        [(ngModel)]="email"
                        name="email"
                        maxlength="20"
                        required>
                <md-hint align="start">
                  <span [hidden]="emailControl.pristine" class="tc-red-600">
                    <span [hidden]="!emailControl.hasError('required')">Obrigatório</span>
                  </span>
                </md-hint>
              </md-input-container>
            </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput
                      #nameElement
                      #nameControl="ngModel"
                      type="text"
                      placeholder="Nome"
                      [(ngModel)]="name"
                      name="name"
                      maxlength="20"
                      required>
              <md-hint align="start">
                <span [hidden]="nameControl.pristine" class="tc-red-600">
                  <span [hidden]="!nameControl.hasError('required')">Obrigatório</span>
                </span>
              </md-hint>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput
                      #usernameElement
                      #usernameControl="ngModel"
                      type="text"
                      placeholder="Usuário"
                      [(ngModel)]="username"
                      name="username"
                      maxlength="20"
                      required>
              <md-hint align="start">
                <span [hidden]="usernameControl.pristine" class="tc-red-600">
                  <span [hidden]="!usernameControl.hasError('required')">Obrigatório</span>
                </span>
              </md-hint>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput
                      #passwordElement
                      #passwordControl="ngModel"
                      type="text"
                      placeholder="Senha"
                      [(ngModel)]="password"
                      name="password"
                      required>
              <md-hint align="start">
                <span [hidden]="passwordControl.pristine" class="tc-red-600">
                  <span [hidden]="!passwordControl.hasError('required')">Obrigatório</span>
                </span>
              </md-hint>
            </md-input-container>
          </div>

          <div layout="row">
            <md-slide-toggle [(ngModel)]="admin" name="admin">Admin</md-slide-toggle>
          </div>
        </form>

      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button [disabled]="!userForm.form.valid" color="primary" (click)="save()">Cadastrar</button>
        <button md-button (click)="goBack()">Cancelar</button>
      </md-card-actions>
    </ng-template>
  </td-layout-card-over>
</td-layout-nav>
