<td-layout-nav logo="assets:gym">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Início</span>
    <span flex></span>
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div layout="row" layout-wrap>
      <div *ngFor="let product of products" flex-gt-md="25" flex-md="50" flex-sm="50">
        <md-card flex>
          <md-toolbar>
            <md-icon svgIcon="src"></md-icon>
          </md-toolbar>
          <md-card-content>

          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2016 Teradata. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>
    </div>
  </td-layout-footer>
</td-layout-nav>
