<td-layout-nav logo="assets:gym">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Produtos</span>
    <span flex></span>
    <button class="overflow-visible" md-icon-button>
      <td-notification-count [notifications]="cart.products.length">
        <md-icon>add_shopping_cart</md-icon>
      </td-notification-count>
    </button>
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex layout="row" layout-wrap>
      <div *ngFor="let product of products" flex flex-gt-md="25" flex-md="33" flex-sm="50" flex-xs="100">
        <md-card flex>
          <md-card-title>{{ product.name }}</md-card-title>
          <!-- <img md-card-image src="/assets/imgs/noimage.png"> -->
          <md-card-content>
            <p>{{product.price}}R$</p>
            <p>{{product.stock}} em estoque</p>
            <p>{{ product.description }}</p>
          </md-card-content>
          <md-card-actions>
            <a md-button color="accent" [routerLink]="['/products', product._id]">Visualizar</a>
            <button md-button color="accent" (click)="addToCart(product)">Adicionar ao carrinho</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2016 Teradata. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>
    </div>
  </td-layout-footer>
</td-layout-nav>
