<div layout="column" layout-fill>
  <md-toolbar color="primary" class="md-whiteframe-z1">
    <span>Registrar</span>
  </md-toolbar>
  <div class="md-content" layout-padding flex>
    <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
      <div flex-none-gt-xs style="min-width:400px">
        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
          <div layout="row" layout-align="center center">
            <img flex-none src="assets/imgs/logo.png" alt="" width="240">
          </div>
          <md-divider></md-divider>
          <md-card-content>
            <form #registerForm="ngForm">
              <div layout="row">
                <md-input-container flex>
                  <input mdInput #nameElement #nameControl="ngModel" placeholder="Nome" type="text" maxlength="30" name="name" [(ngModel)]="name"
                    required>
                  <!-- <span md-prefix><md-icon>person</md-icon></span> -->
                  <md-hint align="start">
                    <span [hidden]="!nameControl.errors?.required || nameControl.pristine" class="tc-red-600">Obrigatório</span>
                  </md-hint>
                  <md-hint align="end">{{nameElement.value.length}} / 30</md-hint>
                </md-input-container>
              </div>
              <br>
              <div layout="row">
                <md-input-container flex>
                  <input mdInput #emailElement #emailControl="ngModel" placeholder="E-mail" type="text" maxlength="30" name="email" [(ngModel)]="email"
                    required>
                  <span md-prefix><md-icon>person</md-icon></span>
                  <md-hint align="start">
                    <span [hidden]="!emailControl.errors?.required || emailControl.pristine" class="tc-red-600">Obrigatório</span>
                  </md-hint>
                  <md-hint align="end">{{emailElement.value.length}} / 30</md-hint>
                </md-input-container>
              </div>
              <br>
              <div layout="row">
                <md-input-container flex>
                  <input mdInput #userElement #userControl="ngModel" placeholder="Usuário" type="text" maxlength="30" name="username" [(ngModel)]="username"
                    required>
                  <span md-prefix><md-icon>person</md-icon></span>
                  <md-hint align="start">
                    <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Obrigatório</span>
                  </md-hint>
                  <md-hint align="end">{{userElement.value.length}} / 30</md-hint>
                </md-input-container>
              </div>
              <br>
              <div layout="row">
                <md-input-container flex>
                  <input mdInput #passElement #passControl="ngModel" placeholder="Senha" type="password" name="password" [(ngModel)]="password"
                    required>
                  <span md-prefix><md-icon>lock</md-icon></span>
                  <md-hint align="start">
                    <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Obrigatório</span>
                  </md-hint>
                </md-input-container>
              </div>
            </form>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row" layout-xs="column">
            <button flex md-raised-button color="accent" [disabled]="!registerForm.form.valid" (click)="register()">Registrar</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>
